.articleContainer {
  border-top: 1px #e8491d solid;
  grid-area: main;
  background-image: url("./press.jpg");
  background-repeat: no-repeat, repeat;
  background-size: cover;
}
.articleContainer input {
  background: transparent;
  border: none;
  color: black;
  font-weight: bolder;
  padding-left: 20px;
  text-emphasis: center;
  height: 30px;
  border: 1px solid black;
  border-radius: 20px;
  margin-left: 10px;
  margin-left: 80px;
  margin-bottom: -40px;
  width: 311px;
}

.articleContainer textarea {
  background: transparent;
  border: none;
  color: black;
  font-weight: bolder;
  padding-left: 20px;
  text-emphasis: center;
  height: 150px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  margin-left: 150px;
  margin-top: 10px;
}
.articlesList {
  color: white;
  height: 600px;
  margin: 70px;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 2%;
}

.articlesList li {
  border: 1px solid #e8491d;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.5);
  margin: 0px 10% 1.5% 10%;
  padding: 20px;
}

li a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

li a:hover {
  color: rgb(238, 185, 70);
  text-decoration: none;
}

@media screen and (max-width: 660px) {
  .articleContainer {
    border-top: 0.5px #e8491d solid;
    grid-column: 1/ -1;
    grid-row: 2/ -1;
    background-color: "#151E29";
  }

  .articleContainer input {
    background: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    padding-left: 20px;
    text-emphasis: center;
    height: 30px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 10%;
    width: 80%;
    margin-bottom: 2%;
  }

  .articleContainer textarea {
    background: transparent;
    border: none;
    color: white;
    font-weight: bolder;
    text-emphasis: center;
    height: 150px;
    width: 80%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 10%;
  }
  .articlesList {
    color: #fff;
    margin: 2%;
    top: 2%;
    bottom: 2%;
    left: 2%;
    right: 2%;
    overflow: scroll;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    -webkit-overflow-scrolling: touch;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 2%;
  }
  .articlesList li {
    border: 1px solid #e8491d;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px 2% 3% 2%;
    padding: 20px;
  }
}
