.articleContainer {
  border: 1px white solid;
  grid-area: main;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.articleContainer input {
  background: transparent;
  border: none;
  color: white;
  font-weight: bolder;
  padding-left: 20px;
  text-emphasis: center;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 10px;
  margin-left: 80px;
  margin-bottom: -40px;
  width: 311px;
}

.articleContainer textarea {
  background: transparent;
  border: none;
  color: white;
  font-weight: bolder;
  padding-left: 20px;
  text-emphasis: center;
  height: 150px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin: 10px;
  margin-left: 150px;
  margin-top: 10px;
}
.articlesList {
  color: white;
  height: 600px;
  margin: 70px;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  font-size: 16px;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 2%;
}

.articlesList li {
  border: 1px solid whitesmoke;
  margin: 10px;
  padding: 10px;
}

li a {
  color: inherit; /* blue colors for links too */
  text-decoration: none; /* no underline */
}

li a:hover {
  color:rgb(238, 185, 70);
  text-decoration: none;
}

@media screen and (max-width: 660px) {
  .articleContainer {
    border: 1px white solid;
    grid-area: main;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
  }

  .articleContainer input {
  background: transparent;
  border: none;
  color: white;
  font-weight: bolder;
  padding-left: 20px;
  text-emphasis: center;
  height: 30px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;
  margin-left: 10px;
  margin-left: 80px;
  margin-bottom: -40px;
 
}

.articleContainer textarea {
  background: transparent;
  border: none;
  color: white;
  font-weight: bolder;
  padding-left: 20px;
  text-emphasis: center;
  height: 150px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 20px;

}
.articlesList {
  color: white;
  margin: 70px;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  overflow: scroll;
  font-size: 16px;
  font-family: Arial, sans-serif;
  -webkit-overflow-scrolling: touch;
  justify-content: center;
  align-items: center;
  padding: 0%;
  margin: 2%;
}

}
