/* .loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  
  background: yellow;
} */

.loginContainer {
  grid-column: 1/-1;
  grid-row: 1/-1;
  height: 100vh;
  font-family: sans-serif;
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
}

.loginForm {
  width: 45%;
  height: 200px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  padding: 20px;
  text-align: center;
}
.loginForm input {
  background: transparent;
  border: none;
  color: white;
  font-weight: bolder;
  padding-left: 20px;
  text-emphasis: center;
  height: 30px;
  margin-left: 10px;
}
.logo {
  width: 20%;
  height: 12%;
  margin-left: 20px;
  margin-top: 10px;
}
