.profile {
  color: rgb(11, 15, 28);
  grid-area: p;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.profile button{
 margin-left: 10px 
}

.profile img {
  height: 150px;
  border: 1px solid rgb(4, 92, 38);
  border-radius: 50%;
}

.profileContent {
  margin-top: 50px;
  margin-left: -150px ;
}

.profileContent h4 {
  margin-top: 10px;
  margin-left: -20px ;
}
.profileContent .username {
  font-weight: bold;
  color: white
}
.profileContent .name {
  font-weight: bold;
  color: white
}
