body {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}

.wholePage {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 5fr 1fr;
  background: url("./components/style/press.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
  grid-template-areas:
    "h p n"
    "s1 main s2"
    "f f f";
}
ul {
  list-style: none;
}
.home {
  grid-area: h;
}

@media screen and(max-width: 660px) {
  .wholePage {
    display: grid;
    height: 100vh;
    grid-template-columns: 40px 5fr 40px;
    grid-template-rows: 1fr 5fr 1fr;
    background: url("./components/style/Blur_pexels-97050.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    grid-template-areas:
      "n n n"
      "main main main"
      "f f f";
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  * {
    box-sizing: border-box;
  }
  .home {
    grid-area: h;
  }
}
