body {
  margin: 0px;
  padding: 0px;
}
* {
  box-sizing: border-box;
}


ul {
  list-style: none;
}
.home {
  grid-area: h;
}

@media screen and(max-width: 660px) {
  .wholePage {
    display: grid;
    height: 100vh;
    grid-template-columns: 1px 5fr 1px;
    grid-template-rows: 1fr 5fr 1fr;
    background: url("./components/style/Blur_pexels-97050.jpg");
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    grid-template-areas:
      "n n n"
      "main main main"
      "f f f";
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  * {
    box-sizing: border-box;
  }
  .home {
    grid-area: h;
  }
}
